body {
    background-color: aliceblue;
}

#header-title {
    margin-left: -100px;
}

.point {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(153, 209, 192);
    position: absolute;
    border-width: 2px;
    border-color: darkslategrey;
    border-style: solid;
}

.point:hover {
    cursor: move;
}

.highlight {
    background-color: rgb(64, 143, 110);
    border-color: darkslategrey;
}

#points-container {
    width: 100% !important;
    height: 92vh !important;
}

.settings-box {
    position: fixed;
    right: 0;
    top: 59px;
    width: 250px;
    height: 245px;
    border-bottom-left-radius: 5px;
    background-color: rgba(95, 136, 143, 0.582);
    border: 5px;
    transform: translateX(100%);
    border-style: solid;
    border-color: rgba(118, 147, 177, 0.725);
    border-width: 5px;
}

.settings-box-view {
    transform: translateX(0%);
}

#name-input {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    border: none !important;
    padding: 6px;
    width: 170px !important;
    font-size: 20px;
}

.settings-box i {
    font-size: 30px;
    margin-top: 2px;
    margin-left: -11px;
    margin-right: -35px;
    cursor: pointer;
    color: white;
}

.settings-box i:hover{
    color: rgba(48, 42, 42, 0.534);
}

.position-div {
    margin-left: 40px !important;
}

#speed-div {
    margin-left: 25px;
}

.settings-box label {
    font-size: 15px;
}

.settings-box span {
    color: white;
}

.settings-box input {
    text-align: center !important;
    width: 60px !important;
    height: 15px !important;
    color: white;
    border-bottom-color: rgb(126, 142, 151) !important;
    box-shadow: none !important;
}

#delete-point {
    margin-top: 2px !important;
    margin-left: 40px !important;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 5%;
    left: 2%;  
}