body {
    background-color: aliceblue;
}

p {
    font-size: 1.1rem;
    margin-top: -10px;
}

#header-title {
    margin-left: -100px;
}

#nav-menu-items {
    margin-right: -50px;
}

.lighten-2:hover {
    background-color: rgb(219, 92, 83) !important;
}

.point {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: rgb(153, 209, 192);
    position: absolute;
    border-width: 2px;
    border-color: darkslategrey;
    border-style: solid;
}

.point:hover {
    cursor: move;
}

.highlight {
    background-color: rgb(64, 143, 110);
    border-color: darkslategrey;
}

#tutorial {
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 2;
    margin: auto;
    width: 40%;
    height: 60%;
    text-align: center;
    border: 2px solid #5c7288;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
}

.tutorial-button {
    position: absolute;
    bottom: 2%;
    text-transform: none;
    transition: none;
    padding: 0 1rem;
}

#page-number {
    position: absolute;
    bottom: 3%;
    right: 3%;
}

#skip-button {
    left: 2%;
}

#previous-button {
    right: 21%;
}

#next-button {
    right: 9%;
}

#points-container {
    z-index: 1;
    width: 100% !important;
    height: 92vh !important;
}

.settings-box {
    position: fixed;
    right: 0;
    top: 59px;
    width: 250px;
    height: 245px;
    border-bottom-left-radius: 5px;
    background-color: rgba(84, 121, 128, 0.582);
    border: 3px;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transform: translateY(-100%);
    border-style: solid;
    border-color: rgba(118, 147, 177, 0.725);
    border-width: 3px;
}

.settings-box-view {
    transform: translateY(0%);
}

#name-input {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    border: none !important;
    padding: 6px;
    width: 170px !important;
    font-size: 20px;
}

.settings-box i {
    font-size: 30px;
    margin-top: 2px;
    margin-left: -11px;
    margin-right: -35px;
    cursor: pointer;
    color: white;
}

.settings-box i:hover{
    color: rgba(48, 42, 42, 0.534);
}

.position-div {
    margin-left: 50px !important;
}

#speed-div {
    margin-left: 45px;
}

.settings-box label {
    font-size: 15px;
}

.settings-box span {
    color: white;
}

.settings-box input {
    text-align: center !important;
    width: 60px !important;
    height: 15px !important;
    color: white;
    border-bottom-color: rgb(126, 142, 151) !important;
    box-shadow: none !important;
}

.locus-circle {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 10px;
    height: 10px;
    background-color: rgb(70, 130, 180);
    opacity: 0.5;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition-timing-function: linear;
    transition: width 2s, height 2s;
    z-index: -1;
    border-style: solid;
    border-color: rgba(212, 159, 90, 0.725);
    border-width: 1px;
}

.animate-circle {
    width: 205px;
    height: 205px;
}

#delete-point {
    margin-top: 2px !important;
    margin-left: 40px !important;
}

#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 5%;
    left: 2%;  
}